
<div class="container">
    <div class="alert alert-success" role="alert" [hidden]="!submitted">
        <strong>Done!</strong> Your case is submitted to BT and will be picked up shortly.
    </div>
    <h2>Raise a customer case with BT</h2>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

        <!--{{diagnostic}}-->
        <div class="form-group">
            <label for="shortDescription">Short Description</label>
            <input type="text" class="form-control" id="shortDescription" required [(ngModel)]="model.short_description" name="shortDescription" #name="ngModel">
            <div [hidden]="shortDescription.valid || shortDescription.pristine" class="alert alert-info">
                A short description of the case is required
            </div>
        </div>

        <div class="form-group">
            <label for="account">Account</label>
            <input type="text" class="form-control" id="account" required [(ngModel)]="model.account" name="account" disabled>
        </div>

        <div class="form-group">
            <label for="contact">Customer Contact</label>
            <input type="text" class="form-control" id="contact" required [(ngModel)]="model.contact" name="contact" disabled>
        </div>

        <!--div class="form-group">
            <label for="Channel">Channel</label>
            <input type="text" class="form-control" id="channel" required [(ngModel)]="model.channel" name="channel">
        </div-->
        <div class="form-group">
                <label for="channel">Channel</label>
                <select class="form-control" id="channel" required [(ngModel)]="model.channel" name="channel">
                    <option *ngFor="let channel of channels" [value]="channel">{{channel}}</option>
                </select>
                <div [hidden]="channel.valid || channel.pristine" class="alert alert-info">
                    Select the channel through which the customer is raising the case
                </div>
            </div>


        <div class="form-group">
            <label for="impact">Customer Impact</label>
            <select class="form-control" id="impact" required [(ngModel)]="model.impact" name="impact">
                <option *ngFor="let impact of impacts" [value]="impact">{{impact}}</option>
            </select>
            <div [hidden]="impact.valid || impact.pristine" class="alert alert-info">
                Select the severity of the impact that the customer is experiencing
            </div>
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" required [(ngModel)]="model.category" name="category">
                <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
            <div [hidden]="category.valid || category.pristine" class="alert alert-info">
                What sort of customer request is this?
            </div>
        </div>

        <!-- div class="form-group">
            <label for="priority">Priority</label>
            <select class="form-control" id="priority" required [(ngModel)]="model.priority" name="priority" hidden="true">
                <option *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
            </select>
        </div -->

        <!-- div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" required [(ngModel)]="model.state" name="state">
        </div-->

        <button type="submit" class="btn btn-success" [disabled]="!valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="newCase(); addCaseForm.reset()">New Case</button>
    </form>
